


.nav-section{
    margin: 16px 120px;
}


.nav-li{
    list-style: none;
    display: flex;
    width: 367px;
    justify-content: space-between;
}

.nav-li li{
    size: 16px;
    color: #000000;
    font-weight: 600;
}


.btn{
    size: 16px;
    font-weight: 600px;
    padding: 12px 16px;
    background-color:#469165 ;
    color: #FFFFFF;
    border: none;
    border-radius: 4px;
}


.nav{
    display: flex;
    justify-content: space-between;
}







/* ------------------------------------------- */



.top-header{
    background-image: url(/iamge/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}


.header{
    /* width: 1360px; */
    text-align: center;
   padding-top: 80px;
   padding-bottom: 100px;
}

.header-early{
    font-size: 16px;
    color: #469165;
    font-weight: 700px;
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 8px 15px;
}


.header-how-it-works{
    background-color: transparent;
     size: 16px;
    font-weight: 600px;
    padding: 12px 16px;
    color: #FFFFFF;
    border: 2px solid white;
    border-radius: 4px;
}


.header h1{
    color: #FFFFFF;
    
    font-weight: 800px;
    line-height: 84px;
    font-size: 72px;
}


.header p{
    color: #FFFFFF;

}

.green{
    color: #30B868;
    margin: 0px;
    padding: 0px;
}